@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

:root{
    --cor1: #000000;
    --cor2: #7890a8;
    --cor3: #304878;
    --cor4: #181848;
    --cor5: #f0a818;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: var(--cor2);
}

/*Cabeçalho*/
header{
    background-color: var(--cor3);
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo{
    height: 80px;
}

#titulo{
    height: 60px;
}

/*Nav*/
nav{
    background-color: var(--cor4);
    margin: 0px;
    padding: 220px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#menu{
    padding: 0px;
    margin: 0px;
}

.menu{
    display: inline;
    padding: 95px;

}

.menu a{
    color: var(--cor5);
    text-decoration: none;
    font-size: 15pt;
}

ul#album{
    width: 900px;
    margin: 0px;
    padding: 95px;
    padding-top: 5px;
    padding-bottom: 20px;
    overflow: hidden;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul#album li{
    float: left;
    width: 250px;
    height: 333px;
    margin: 10px;
    border: 5px solid var(--cor2);
    background-color: var(--cor5);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    transition: all .2s ease-in;
}

span{
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, .8);
    font-size: 12pt;
    line-height: 600px;
    padding: 5px;
    font-family: 'Berkshire Swash';
    color: var(--cor5);
}

li:hover{
    transform: scale(1.1);
}

li:hover span{
    opacity: 1;
}

li#foto1{
    background: url('../images/1grande.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px;
    background-color: white;
}

ul#album li#foto1:hover{
    background-position: 0px 0px;
    background-size: 250px;
}

li#foto2{
    background: url('../images/2pequeno.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px;
    background-color: white;
}

ul#album li#foto2:hover{
    background-position: 0px 0px;
    background-size: 250px;
}

li#foto3{
    background: url('../images/3caramelo.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px;
    background-color: white;
}

ul#album li#foto3:hover{
    background-position: 0px 0px;
    background-size: 250px;
}

li#foto4{
    background: url('../images/4luzes.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px;
    background-color: white;
}

ul#album li#foto4:hover{
    background-position: 0px 0px;
    background-size: 250px;
}

li#foto5{
    background: url('../images/5liso.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px;
    background-color: white;
}

ul#album li#foto5:hover{
    background-position: 0px 0px;
    background-size: 250px;
}

li#foto6{
    background: url('../images/6arrumado.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px;
    background-color: white;
}

ul#album li#foto6:hover{
    background-position: 0px 0px;
    background-size: 250px;
}

/*Seção 3*/
#sec3{
    background-color: #f0a818;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, p, a{
    text-align: center;
    font-family: 'Berkshire Swash';
    color: var(--cor4);
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

.fotos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fotos>img{
    width: 200px;
    margin: 60px;
}

/*Rodapé*/
footer{
    background-color: var(--cor3);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer>p{
    color: var(--cor5);
    text-shadow: 2px 2px 1px var(--cor4);
}