@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

:root{
    --cor1: #000000;
    --cor2: #7890a8;
    --cor3: #304878;
    --cor4: #181848;
    --cor5: #f0a818;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: var(--cor2);
}

/*Cabeçalho*/
header{
    background-color: var(--cor3);
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo{
    height: 80px;
}

#titulo{
    height: 60px;
}

/*Nav*/
nav{
    background-color: var(--cor4);
    margin: 0px;
    padding: 220px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#menu{
    padding: 0px;
    margin: 0px;
}

.menu{
    display: inline;
    padding: 60px;
    margin: auto;
}

.menu a{
    color: var(--cor5);
    text-decoration: none;
    font-size: 15pt;
}

/*Seção 1*/
#sec1{
    background-color: var(--cor5);
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#sobre{
    display: flex;
    align-items: center;
    padding: 95px;
    padding-top: 0px;
    padding-bottom: 20px;
}

#sobre>img{
    width: 40%;
    padding-right: 50px;
}

#texto-sobre>p{
    text-align: justify;
}


h1, p, a{
    text-align: center;
    font-family: 'Berkshire Swash';
    color: var(--cor4);
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

/*Rodapé*/
footer{
    background-color: var(--cor3);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer>p{
    color: var(--cor5);
    text-shadow: 2px 2px 1px var(--cor4);
}